<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
  <!-- <link rel="stylesheet" href="/static/styles.css">
  ******This stylesheet still needs to be written***** -->

  <!-- <script src="http://code.jquery.com/jquery.js"></script>
  ***** Uncomment to use jquery  ***** -->

  <link rel="stylesheet" href="static/normalize.css">
  <link rel="stylesheet" href="static/skeleton.css">

</head>
<body>
  <h1>Road Trip Planner</h1>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
   {% endif %}
  {% endwith %}

  {% block content %}BODY CONTENT GOES HERE{% endblock %}

 <!--  <footer>Do I want a footer?</footer> -->
</body>
</html>
