{% extends 'base.html' %}

{% block content %}

<body>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
<script>

// "use strict";

// Pulling in the geographic data
d3.json("/static/json/convertedstates.json", function(error, states) {
  if (error) {
    return console.error(error);
  } else {
    // console.log(states);
  }


  // Creating the canvas and attaching it to the DOM
  var width = 960;
  var height = 1160;

  var svg = d3.select("body")
              .append("svg")
              .attr("width", width)
              .attr("height", height);

  // Converting geographic data to GeoJSON to display on canvas
  states = topojson.feature(states, states.objects.states);
  console.log(states);

  // Creates a projection to the canvas so that lat/long coordinates can be passed in
  var projection = d3.geo.albersUsa();

  // Generates a path so that the projected data can be displayed on the canvas
  var path = d3.geo.path()
            .projection(projection);

  svg.append("path")
      .datum(states)
      .attr("d", path);

  // Adding visual details to states and borders
  svg.selectAll('.states')
    .data(states.features)
    .enter()
    .append('path')
    .attr('d', path)
    .style('fill', 'cccccc')
    .style('stroke', 'white')
    .style('stroke-weight', 1);


  // Adding origin cities on the map, Lat/Long are reversed in D3 projections
  var originCities = [[37.7833, -122.4167],
                      // [40.7127, -74.0059],
                      ];


  // Styling map points on the canvas
  svg.selectAll('circle')
    .data(originCities)
    .enter()
    .append('circle')
    .attr('r', 10)
    .attr('id', 'originCircle')
    .attr('fill', 'steelblue')
    .attr('fill-opacity', 0.8)
    .attr('transform', function(originCities) {
      return 'translate(' + projection([originCities[1], originCities[0]]) + ')';
    });



  // Adding destination cities on the map, Lat/Long are reversed in D3 projections
  var destinationCities = [[39.3077, -123.7995, "Mendocino", "3.25 hours"],
                          [36.5552, -121.9233, "Carmel-by-the-sea", "2 hours and 5 minutes"],
                          [38.5025, -122.2654, "Napa Valley", "1.5 hours"],
                          [39.0968, -120.0324, "Lake Tahoe", "3.75 hours"],
                          [34.4208, -119.6982, "Santa Barbara", "5 hours"],
                          [37.8651, -119.5383, "Yosemite National Park", "4 hours"],
                          [36.9741, -122.0308, "Santa Cruz", "1.5 hours"]];

  // create tooltip variable that allows to hover over circles and display names
  // and drive times
  var tooltip = d3.select("body")
    .append("div")
    .style("position", "absolute")
    .style("z-index", "10")
    .style("visibility", "hidden");


  // Styling map points on the canvas
  svg.selectAll('destinationCircle')
    .data(destinationCities)
    .enter()
    .append('circle')
    .attr('r', 6)
    .attr('id', 'destinationCircle')
    .attr('fill', 'red')
    .attr('fill-opacity', 0.8)

    // mouseover functionality to display destination name and drive time
    .on("mouseover", function(d){ tooltip.text(d[2] + ", Drive time: " + d[3]).style("visibility", "visible");})
    .on("mousemove", function(){return tooltip.style("top",
    (d3.event.pageY-10)+"px").style("left",(d3.event.pageX+10)+"px");})
    .on("mouseout", function(){return tooltip.style("visibility", "hidden");})

    // transforms lat/long into projection coordinates so they appear in the correct
    // place on the map
    .attr('transform', function(destinationCities) {
      return 'translate(' + projection([destinationCities[1], destinationCities[0]]) + ')';
    });
});

</script>
</body>

{% endblock %}