{% extends 'base.html' %}

{% block content %}

<body>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
<script>

// "use strict";

// Pulling in the geographic data
d3.json("/static/json/convertedstates.json", function(error, states) {
  if (error) {
    return console.error(error);
  } else {
    // console.log(states);
  }


  // Creating the canvas and attaching it to the DOM
  var width = 960;
  var height = 1160;

  var svg = d3.select("body")
              .append("svg")
              .attr("width", width)
              .attr("height", height);

  // Converting geographic data to GeoJSON to display on canvas
  states = topojson.feature(states, states.objects.states);
  console.log(states);

  // Creates a projection to the canvas so that lat/long coordinates can be passed in
  var projection = d3.geo.albersUsa();

  // Generates a path so that the projected data can be displayed on the canvas
  var path = d3.geo.path()
            .projection(projection);

  svg.append("path")
      .datum(states)
      .attr("d", path);

  // Adding visual details to states and borders
  svg.selectAll('.states')
    .data(states.features)
    .enter()
    .append('path')
    .attr('d', path)
    .style('fill', 'cccccc')
    .style('stroke', 'white')
    .style('stroke-weight', 1);


  // Adding origin cities on the map, Lat/Long are reversed in D3 projections
  var originCities = [[40.7127, -74.0059], [37.7833, -122.4167]];


  // Styling map points on the canvas
  svg.selectAll('circle')
    .data(originCities)
    .enter()
    .append('circle')
    .attr('r', 10)
    .attr('id', 'originCircle')
    .attr('fill', 'steelblue')
    .attr('fill-opacity', 0.8)
    .attr('transform', function(originCities) {
      return 'translate(' + projection([originCities[1], originCities[0]]) + ')';
    });

  // Adding destination cities on the map, Lat/Long are reversed in D3 projections
  var destinationCities = [[47.6062, -122.3321], [33.7490, -84.3880]];

  // Styling map points on the canvas
  svg.selectAll('destinationCircle')
    .data(destinationCities)
    .enter()
    .append('circle')
    .attr('r', 6)
    .attr('id', 'destinationCircle')
    .attr('fill', 'red')
    .attr('fill-opacity', 0.8)
    .attr('transform', function(destinationCities) {
      return 'translate(' + projection([destinationCities[1], destinationCities[0]]) + ')';
    });

});

</script>
</body>

{% endblock %}