{% extends 'base.html' %}

{% block title %}My Trips{% endblock %}

{% block content %}
  <link rel="stylesheet"
        href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css">
<script src="http://code.jquery.com/jquery.js"></script>
<body>

<style>
img {
    display: block;
    margin: auto;
    width: 100%;
}
</style>

<div class="container">


{% if trips %}
  <table class="table table-hover table-striped">
    <thead>
    <tr>
      <th>Trip Name</th>
      <th>Starting Location</th>
      <th>Ending Location</th>
    </tr>
    </thead>
<!--     Create table with clickable rows that sends a post request to the /map route -->
    {% for trip in trips %}
      <tr class="form-row" data-form-id="#trip-{{ trip.trip_id }}">
        <td><form id="trip-{{ trip.trip_id }}" action="/map" method="POST">
              <input type="hidden" name="start" value="{{ trip.start }}">
              <input type="hidden" name="end" value="{{ trip.end }}">
            </form>
            {{ trip.trip_name }}</td>
        <td>{{ trip.start }}</td>
        <td>{{ trip.end }}</td>

      </tr>
    {% endfor %}
  </table>
{% endif %}

<script>

  $(".form-row").on("click", function() {
    var formId = $(this).data('form-id');
    console.log(formId);
    $(formId).submit();
  });

</script>

</div>

<!--   <div class="container">
      <img src="/static/Couple-driving.jpg" class="img-responsive" alt="Responsive image">

  </div> -->

</body>
{% endblock %}

