
{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}


<link rel="stylesheet"
        href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css">

<div class="container">
  <div class="page-header">

  <h2>Register below</h2>

  <form class="form-group" action="/register" method="POST">
    <label for="user_name">Name:</label>
    <input id="user_name" type="text" name="name"><br>

    <label for="password">Password:</label>
    <input id="password" type="password" name="password"><br>

    <input type="submit" name="register" value="register">
  </form>

{% endblock %}
