{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}

  <h2>Search for your next road trip</h2>

  <form action="/map" method="POST">
    <label for="start">Starting Location:</label>
    <input id="start" type="text" name="start"><br>

    <label for="end">Ending Location:</label>
    <input id="end" type="text" name="end"><br>
<!--
    <label for="time">Max Desired Drive Time (in minutes):</label>
    <input id="time" type="text" name="time"><br> -->

    <input type="submit" name="submit" value="submit">

  </form>


<!-- When adding checkboxes in phase2, make sure they're accessible:
http://webaim.org/techniques/forms/controls -->

{% endblock %}