{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}

<script src="https://d3js.org/d3.v4.min.js"></script>

  <h2>Search for your next road trip</h2>
<div>
  <form action="/map" method="POST">
    <label for="start">Starting Location:</label>
    <input id="start" type="text" name="start"><br>

    <label for="end">Ending Location:</label>
    <input id="end" type="text" name="end"><br>

    <input type="submit" name="submit" value="submit">

  </form>
</div>

<!-- When adding checkboxes in phase2, make sure they're accessible:
http://webaim.org/techniques/forms/controls -->

{% endblock %}